.paragraaf1 {
    color: #6F055A;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.paragraaf2 {
    color: #05076F;
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
}

.paragraaf3 {
    color: #E50000;
    font-family: "Moon Dance", cursive;
    font-weight: 400;
}